:root {
  --text-dark: #171717;
  --text-light: #2a3890;
  --extra-light: #a3a3a3;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Merriweather", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}
.slide .carousel-item h5{
  margin-bottom: 3%;
  font-size: 2.3rem;
  font-weight: bolder;
  font-family: var(--header-font);
}

 .carousel-item .text-slide{
  margin-bottom: 50%;
  font-size: 1.3rem;
  font-weight: bolder;
  font-family: var(--header-font);
}
.button button{
  margin-bottom: 40%;
}
.collapse{
  margin-left: 45%;
}
.container-fluid img{
  width: 200px;
  margin-left: 10%;
}
.nav-link{
  margin-left: 20%;
}
#navbarNavAltMarkup .navbar-nav a{
  font-size: 1.2rem;
  color: var(--text-dark);
  font-family: var(--header-font);
  font-weight: 600;
}
.section__container img {
  display: flex;
  width: 200px;
  margin: auto;
}

.section__image {
  padding: 4rem 0;
}

#testimonials-slider .carousel-inner {
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: .33rem;
}

#testimonials-slider .card {
  max-height: 30rem;
  border: unset;
  border-radius: unset;
}

#testimonials-slider .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.container {
  margin-top: 2%;
}

.text-center {
  margin-bottom: 4%;
  border: 2px dotted grey;
  background-image: url(assets/pexels-nietjuh-776635.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.section__description {
  color: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.gallery__btn {
  margin-left: 45%;
}

.gallery__btn .btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--text-dark);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 5%;
}

.gallery__btn .btn:hover {
  background-color: var(--text-light);
  color:var(--white);
}

.gallery-item img {
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

.col {
  cursor: pointer;
}

.flex-grow-1 {
  margin-top: 2%;
}


.client__container {
  padding-bottom: 2rem;
}

.swiper {
  margin-top: 2rem;
  padding-bottom: 3rem;
  width: 100%;
}

.client__card {
  max-width: 900px;
  margin-inline: auto;
  text-align: center;
}

.client__card img {
  max-width: 120px;
  margin-inline: auto;
  margin-bottom: 2rem;
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.client__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
  line-height: 1.75rem;
}

.card-body h5 {
  margin-bottom: 5%;
}

.card-body {
  margin-top: 10%;
}

.blog {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/pexels-tirachard-kumtanom-112571-733853.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 5%;
}

.blog__container {
  padding-block: 8rem;
  display: grid;
}

.blog__content {
  text-align: center;
}

.blog__content .section__header {
  margin-bottom: 2rem;
  color: var(--white);
}

.blog__content h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}

.blog__content p {
  margin-bottom: 2rem;
  line-height: 1.75rem;
  color: var(--extra-light);
}

.blog__content .btn {
  background-color: transparent;
  border: 1px solid var(--white);
}

.blog__btn .btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--text-dark);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 5%;
}
.blog__btn .btn:hover {
  background-color: var(--text-light);
  color:var(--white);
}
.container2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  background-image: url(https://th.bing.com/th/id/OIP.YXYdnzG2vhDdxPxY9TVbxwHaEK?w=324&h=182&c=7&r=0&o=5&dpr=1.3&pid=1.7);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border: 4px solid rgb(73, 128, 134);
}

.container2 .left {
  margin-left: 20px;
  margin-right: 5%;
  margin-top: 10%;
}

.left p {
  font-size: 1.1rem;
  font-family: var(--header-font);
  font-weight: 500;
}

.left h2 {
  margin-bottom: 4%;
  font-family: var(--header-font);
}

.left .blog__btn .btn {
  margin-left: 20%;
}

.container2 .right img {
  width: 500px;
}

@media (max-width:800px) {
  .container2 {
    display: block;
    margin-top: 3%;
    margin-left: 4px;
    margin-right: 4px;
    border: 2px solid rgb(73, 128, 134);
  }
  .carousel-indicators button{
    margin-bottom: 0%;
  }
  .container2 .left {
    margin-left: 20px;
    margin-right: 5%;
    margin-top: 10%;
  }
  .collapse{
    margin-left: 0%;
  }
  .nav-link{
    margin-left: 5%;
  }
  .container-fluid img{
    margin-left: 0%;
    width: 150px;
  }
  .left p {
    font-size: 1.1rem;
    font-family: var(--header-font);
  }

  .left h2 {
    margin-bottom: 4%;
    font-family: var(--header-font);
  }

  .left .blog__btn .btn {
    margin-left: 30%;
    margin-bottom: 4%;
  }

  .container2 .right img {
    width: 100%;
  }

  .header {
    min-height: 450px;
    width: 100%;
  }

  .gallery__btn {
    margin-left: 0%;
  }
  
  #testimonials-slider .testimonials-image {
    display: none;
  }
}
.img{
  margin-top: 5%;
  margin-left: 5%;
}
.row-cols-1 img:hover {
  transform: scale(1.05);
}
.img1{
  margin-top: 5%;
  margin-left: 10%;
}
.img4{
  margin-top: 5%;
  margin-left: 15%;
}

.container3 {
  margin-top: 5%;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 4rem;
  width: 4rem;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: transparent;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}

.slider-wrapper .slide-button#prev-slide i {
  left: .4rem;
  position: relative;
}

.slider-wrapper .slide-button#next-slide {
  right: -25px;
}

.slider-wrapper .slide-button#next-slide i {
  left: -.5rem;
  position: relative;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}


.image__container {
  overflow: hidden;
}

.image__flex {
  margin-top: 2rem;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;

  animation: scroll 45s linear infinite;
}

.image__flex img {
  max-width: 135px;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

#contact .footer__bar {
  text-align: center;
  background-color: #333232;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__bar a {
  color: coral;
  text-decoration: none;
}
